---
import DiscordIcon from '../assets/social/discord.svg';
import '../styles/nav.css';
---
<nav data-pagefind-ignore="all">
  <details class="nav-toggle">
    <summary>Menu</summary>
  </details>
  <menu class="menu--main">
    <li><a href="/">Home</a></li>
    <li>
      <a href="/about/">About</a>
      <menu>
        <li><a href="/about/#about">About PGV Mesh</a></li>
        <li><a href="/about/partners/">Community Partners</a></li>
        <li><a href="/about/infrastructure/">Network Infrastructure</a></li>
        <li><a href="/about/mesh-technology/">Mesh Technology</a></li>
        <li><a href="/about/meshcore-vs-meshtastic/">MeshCore vs Meshtastic</a></li>
      </menu>
    </li>
    <li>
      <a href="/join/">Join</a>
      <menu>
        <li><a href="/join/">Join the network</a></li>
        <li><a href="/join/property-owner-faq-hosting-a-node/">Property Owner FAQ</a></li>
        <li><a href="/join/getting-started-meshcore/">Getting started with MeshCore</a></li>
      </menu>
    </li>
    <li>
      <a href="/devices/">Devices</a>
      <menu>
        <li><a href="/devices/#options">Suggested Hardware</a></li>
        <li><a href="/devices/#solar">DIY Solar Repeaters</a></li>
        <li><a href="/devices/#aerial">Aerial Nodes</a></li>
      </menu>
    </li>
    <li><a href="/projects/">Projects</a></li>
    <li>
      <a href="/similar-networks/">Similar networks</a>
      <menu>
        <li><a href="/similar-networks/#other-meshes">Other meshes</a></li>
        <li><a href="/similar-networks/#start-a-similar-network">Start a similar network</a></li>
      </menu>
    </li>
    <li><a href="/search/">Search</a></li>
  </menu>
  <menu class="menu--social">
    <li>
      <a href="https://discord.gg/AUjz5RGGVu" target="_blank" rel="noopener" title="Join the PGVMesh Discord">
        <DiscordIcon class="icon--discord" height={25} />
      </a>
    </li>
  </menu>
</nav>
