---
import DiscordIcon from '../assets/social/discord.svg';
import '../styles/nav.css';
---
<nav data-pagefind-ignore="all">
  <menu class="menu--main">
    <li><a href="/">Home</a></li>
  </menu>
  <menu class="menu--social">
    <li>
      <a href="https://discord.gg/AUjz5RGGVu" target="_blank" rel="noopener" title="Join the PGVMesh Discord">
        <DiscordIcon class="icon--discord" height={25} />
      </a>
    </li>
  </menu>
</nav>
