---
import { Image } from 'astro:assets';
import logo from '../assets/logo/PGV-Mesh-Logo.png';
---
<header data-pagefind-ignore="all">
  <a href="/"><Image src={logo} alt="Logo for PGV Mesh" title="PGV Mesh" class="logo" width={500} height={121} loading="eager" /></a>
</header>
